<h1 class='text-center'>
    <%= @wiki.title %><br />
    <small>
        by <%= @wiki.user.email %> <br />
        <small>Collaborators:
        <% unless @wiki.collaborators.empty? %>
            <% @wiki.collaborators.each do |collab| %>
                <%= collab.email %>
            <% end %>
        <% end %>
        </small>
    </small>
</h1>

<div class='row'>
    <div class='col-md-12'>
        <p class='text-center'><%= markdown(@wiki.body) %></p>
    </div>
</div>
<% if user_signed_in? %>
    <div class='text-center'>
        <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-primary' %> | 
        <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', redirect_to: :index, data: { confirm: 'Are you sure you want to delete this wiki?' } %>
    </div>
<% end %>